body{
  background-image: url("/public/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  
}

